* {
    box-sizing: border-box
}

body {
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #f5f0e8;
    color: #3d1f2b
}

hearder {
    background-color: #3d1f2b;
    color: white;
    padding: 25px;
    text-align: center;
}

inicio{
    text-align: center;
}

nav {
margin-top: 15px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
}

selection {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 0;
}

p{
    line-height: 1.6;
}
img{
    display: block;
    width: 300px;
    max-width: 100%;
    margin: 25px auto;
    border-radius: 10px;
}

footer{
    background-color: #3d1f2b;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}